@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
// $primary-orange: #FF5851;
$primary-teal:#41B3A3;
$primary-grey: rgb(249, 249, 249);
// $primary-blue: rgb(59, 57, 82);
// $primary-blue: rgb(60, 55, 108);
// $primary-blue: rgb(45, 39, 97);
$primary-blue: #1B242f;
$font: 'Montserrat';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &::before {
    box-sizing: border-box;
  };
  &::after {
    box-sizing: border-box;
  };
}

button {
  text-decoration: none;
  outline: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  background: $primary-blue;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-family: 'Raleway';
  color: $primary-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 16px;
  height: 60px;
  border-bottom: 4px solid $primary-teal;
}

h2 {
  font-family: $font;
  font-weight: bold;
  font-size: 40px;
}

.landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: rgb(30, 29, 40);
  font-size: 50px;
  font-family: $font;
  font-weight: bold;
}

.top-half {
  background: $primary-teal;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: $primary-grey;
  flex: 1;
}

.bottom-half {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: $primary-blue;
  flex: 1;
}

.about-me {
  height: 125vh;
}

.links-container {
  display: flex;
  flex-direction: row;
}

.nav-link {
  margin-left: 50px;
}

.about-me-wrapper {
  border: 3px solid pink;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  padding-right: 80px;
}

.about-me-title {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
}

.about-me-content {
  flex: 4;
  display: flex;
  border: 2px solid orange;
}

.photo-summary {
  flex: 1;
  border: 1px solid black;
}

.skills {
  flex: 1;
  border: 1px solid black;
}

#learn-more {
  margin-bottom: 110px;
  font-size: 30px;
  font-family: Arial;
  font-weight: bold;
  color: $primary-blue;
  border: 3px solid $primary-blue;
  padding: 12px;
}

